/* Variables Globales */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b1b1b;
  position: relative; }

h1 {
  font-family: "Zilla Slab", serif;
  color: #888888;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px; }

/* Defino una clase para luego incluirla mediante "@extend" */
/* Home, tarjetas de tickets en shows */
.shows_flex, .shows__fecha {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* MIXIN definiendo Flex */
/* Discografia, tarjetas de los discos*/
/*Layout*/
/* Header */
.navbar-toggler.burguer {
  color: #c0b283;
  border: transparent; }

.navbar-toggler:focus {
  box-shadow: none; }

.navbar-nav .nav-link.active {
  color: #1b1b1b;
  background-color: #c0b283; }

.img-cabecera {
  width: 125px; }

.header__nav ul li {
  width: 75%;
  text-align: center;
  margin: 0.2rem;
  border: 2px solid #888888;
  background-color: #1b1b1b; }
  .header__nav ul li a {
    font-family: "Zilla Slab", serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
    color: #888888;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1.3px;
    display: inline-block;
    padding: 0.25rem; }
    .header__nav ul li a:hover {
      color: #1b1b1b;
      transition: all 0.4s ease-in-out;
      font-weight: 600; }
  .header__nav ul li a.active-custom {
    color: #1b1b1b; }
  .header__nav ul li.active-custom {
    background-color: #c0b283;
    border: 2px solid #c0b283; }
  .header__nav ul li.animate__animated.animate__zoomIn:nth-child(1) {
    animation-duration: 300ms; }
  .header__nav ul li.animate__animated.animate__zoomIn:nth-child(2) {
    animation-duration: 600ms; }
  .header__nav ul li.animate__animated.animate__zoomIn:nth-child(3) {
    animation-duration: 900ms; }
  .header__nav ul li.animate__animated.animate__zoomIn:nth-child(4) {
    animation-duration: 1200ms; }
  .header__nav ul li.animate__animated.animate__zoomIn:nth-child(5) {
    animation-duration: 1500ms; }
  .header__nav ul li:hover {
    border-color: #c0b283;
    background-color: #c0b283;
    transition: all 0.4s ease-in-out; }

/* Footer */
.header__nav--footer ul li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem; }
  .header__nav--footer ul li a {
    font-family: "Zilla Slab", serif;
    font-size: 1.3rem;
    color: #888888;
    text-decoration: none;
    letter-spacing: 0.15rem;
    font-weight: 400; }
    .header__nav--footer ul li a:hover {
      color: #c0b283; }
  .header__nav--footer ul li a.active-custom {
    color: #c0b283;
    font-weight: 600; }

.iconify {
  color: #888888;
  width: 1.4rem;
  height: auto;
  cursor: pointer; }
  .iconify:hover {
    color: #c0b283;
    transition: all .4s ease-in-out; }

.suscripcion p {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: "Zilla Slab", serif;
  color: #888888;
  font-size: 1.1rem;
  text-align: center; }

.suscripcion input[type="email"] {
  background-color: #c0b283;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-family: "Zilla Slab", serif;
  text-align: center; }
  .suscripcion input[type="email"]::placeholder {
    color: #1b1b1b; }

.suscripcion input[type="button"] {
  border: none;
  padding: 1rem 0 0 0;
  background-color: transparent;
  font-family: "Zilla Slab", serif;
  color: #888888;
  font-size: 1.2rem;
  cursor: pointer; }
  .suscripcion input[type="button"]:hover {
    color: #c0b283; }

#footer-cont .header__nav--footer,
#footer-mult .header__nav--footer,
#footer-disc .header__nav--footer,
#footer-int .header__nav--footer {
  display: block; }

/* Estilos de paginas */
/* HOME */
/* Carrousel de Fondo Home*/
.wraper {
  position: relative;
  z-index: 100; }

#body__home {
  background-image: url(../../img/bg-2.jpg);
  background-position: -430px -250px;
  background-repeat: no-repeat;
  background-size: cover; }

#carouselExampleFade {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: none; }

.carousel-image {
  width: 90%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.carousel-inner {
  z-index: -1; }

.bg-img-1 {
  background-image: url(../img/bg-1.jpg); }

.bg-img-2 {
  background-image: url(../img/bg-2.jpg); }

.bg-img-3 {
  background-image: url(../img/bg-3.jpg); }

/* ************************************************* */
/* Main */
.shows__fecha {
  background-color: #1b1b1b;
  border: 2px solid #c0b283;
  padding: 10px;
  margin-top: -10px;
  margin-bottom: 15px; }
  .shows__fecha p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #888888;
    margin: 0;
    background-color: #1b1b1b; }
    .shows__fecha p.estadio {
      font-weight: 600;
      text-transform: uppercase;
      font-style: normal;
      color: #c0b283;
      font-size: 1.3rem;
      text-align: center; }
  .shows__fecha.animate__animated.animate__flipInX:nth-child(2) {
    animation-duration: 800ms; }
  .shows__fecha.animate__animated.animate__flipInX:nth-child(3) {
    animation-duration: 800ms;
    animation-delay: .5s; }
  .shows__fecha.animate__animated.animate__flipInX:nth-child(4) {
    animation-duration: 800ms;
    animation-delay: 1s; }
  .shows__fecha.animate__animated.animate__flipInX:nth-child(5) {
    animation-duration: 800ms;
    animation-delay: 1.5s; }

.shows h1 {
  text-align: center;
  font-size: 2rem;
  color: #c0b283;
  background-color: #1b1b1be6; }

.btn-ticket {
  border: 2px solid #c0b283;
  background-color: #c0b283;
  color: #1b1b1b;
  font-family: "Zilla Slab", serif;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase; }
  .btn-ticket:hover {
    background-color: #1b1b1b;
    border: 2px solid #c0b283;
    color: #c0b283;
    transition: all .4s ease-in-out; }

.video {
  overflow: hidden;
  padding-bottom: 291px;
  position: relative;
  height: 0;
  width: 100%;
  -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75); }
  .video iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: none; }

/* MULTIMEDIA */
#body__multimedia {
  background-image: url(../img/back_soad_multimedia.jpg);
  background-repeat: no-repeat;
  background-position: 45% 100px;
  background-size: cover; }

.contenedor__multimedia,
.contenedor__discografia {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer"; }

.mainSectionMultimedia {
  margin: 0 auto; }

.titleSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .titleSection h1 {
    color: #888888;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 20px 0 0; }
  .titleSection h2 {
    font-size: 2rem;
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    color: #c0b283;
    text-transform: capitalize;
    margin: 20px 0; }

.grid_media {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 0.3rem;
  column-gap: 0.3rem; }
  .grid_media .imagen {
    position: relative;
    color: #c0b283;
    text-align: center;
    width: 100%;
    max-height: 150px;
    justify-content: center;
    margin: 0; }
    .grid_media .imagen img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .grid_media .iframe-1 {
    grid-column: 1/4;
    grid-row: 1/3;
    width: 100%;
    max-height: 244px; }
  .grid_media .iframe-2 {
    grid-column: 1/4;
    grid-row: 10/11;
    width: 100%;
    max-height: 244px; }

.imagen-1 {
  grid-column: 1/2;
  grid-row: 3/4; }

.imagen-2 {
  grid-column: 2/3;
  grid-row: 3/4; }

.imagen-3 {
  grid-column: 3/4;
  grid-row: 3/4; }

.imagen-4 {
  grid-column: 1/2;
  grid-row: 4/5; }

.imagen-5 {
  grid-column: 2/3;
  grid-row: 4/5; }

.imagen-6 {
  grid-column: 3/4;
  grid-row: 4/5; }

.imagen-7 {
  grid-column: 1/2;
  grid-row: 5/6; }

.imagen-8 {
  grid-column: 2/3;
  grid-row: 5/6; }

.imagen-9 {
  grid-column: 3/4;
  grid-row: 5/6; }

.imagen-10 {
  grid-column: 1/2;
  grid-row: 6/7; }

.imagen-11 {
  grid-column: 2/3;
  grid-row: 6/7; }

.imagen-12 {
  grid-column: 3/4;
  grid-row: 6/7; }

.imagen-13 {
  grid-column: 1/2;
  grid-row: 7/8; }

.imagen-14 {
  grid-column: 2/3;
  grid-row: 7/8; }

.imagen-15 {
  grid-column: 3/4;
  grid-row: 7/8; }

.imagen-16 {
  grid-column: 1/2;
  grid-row: 8/9; }

.imagen-17 {
  grid-column: 2/3;
  grid-row: 8/9; }

.imagen-18 {
  grid-column: 3/4;
  grid-row: 8/9; }

.imagen-19 {
  grid-column: 1/2;
  grid-row: 9/10; }

.imagen-20 {
  grid-column: 2/3;
  grid-row: 9/10; }

.imagen-21 {
  grid-column: 3/4;
  grid-row: 9/10; }

figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.1rem;
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0; }

/* INTEGRANTES */
#body__members {
  background-image: url(../img/back_soad_members.jpg);
  background-repeat: no-repeat;
  background-position: 42% -265px;
  background-size: cover; }

.main-integrantes .history p {
  font-family: "Zilla Slab", serif;
  color: #888888;
  font-size: 1.2rem; }

.card__img img {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75); }

.namers__name h2 {
  font-family: "Zilla Slab", serif;
  color: #c0b283;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  margin: 10px auto;
  letter-spacing: 0.15rem;
  text-transform: uppercase; }
  .namers__name h2 span {
    font-weight: 100;
    color: #888888;
    font-style: italic;
    text-transform: none;
    letter-spacing: normal; }

.namers__rs {
  text-align: center; }
  .namers__rs .iconify {
    width: 1.8rem;
    margin-left: 5px;
    margin-right: 5px; }

.bio p {
  font-family: "Zilla Slab", serif;
  color: #888888;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 10px 15px;
  margin: 0; }

/* DISCOGRAFIA */
#body__disco {
  background-image: url(../img/back_soad_shows.jpg);
  background-repeat: no-repeat;
  background-position: 86% 127px;
  background-size: cover; }

.containerDisco article {
  position: relative;
  -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .containerDisco article.disc-1 {
    background-image: url(../img/soaddisc1.jpg); }
  .containerDisco article.disc-2 {
    background-image: url(../img/soaddisc2.png); }
  .containerDisco article.disc-3 {
    background-image: url(../img/soaddisc3.jpg); }
  .containerDisco article.disc-4 {
    background-image: url(../img/soaddisc4.jpg); }
  .containerDisco article.disc-5 {
    background-image: url(../img/soaddisc5.jpg); }

.cardiscografia {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: unset; }
  .cardiscografia::before {
    content: ' ';
    display: block;
    position: absolute;
    background-color: #000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8; }
  .cardiscografia .cabecera {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .cardiscografia .cabecera__apps {
      z-index: 10; }
      .cardiscografia .cabecera__apps .iconify {
        width: 1.8rem;
        color: #c0b283;
        padding-left: 0.25rem;
        padding-right: 0.25rem; }
        .cardiscografia .cabecera__apps .iconify:hover {
          color: #dcd0d0; }
    .cardiscografia .cabecera__album {
      display: flex;
      flex-direction: column;
      justify-content: unset;
      align-items: flex-start; }
      .cardiscografia .cabecera__album h2 {
        position: relative;
        text-transform: uppercase;
        font-family: "Zilla Slab", serif;
        color: #c0b283;
        font-size: 1.3rem;
        margin-top: 0.25rem;
        margin-bottom: 0;
        padding-right: 0.5rem;
        z-index: 10; }
      .cardiscografia .cabecera__album h3 {
        position: relative;
        font-family: "Zilla Slab", serif;
        color: #888888;
        font-size: 1.4rem;
        z-index: 10; }
  .cardiscografia .playlist p {
    color: #c0b283;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: 10px 10px 5px 10px;
    z-index: 10;
    position: relative;
    margin-bottom: 0;
    text-align: left; }

/* CONTACTO */
#body__contacto {
  background-image: url(../img/back_soad_contact.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.main-cont {
  padding-bottom: 2rem; }
  .main-cont h1 {
    margin-bottom: 2rem; }
  .main-cont form {
    color: #888888;
    font-family: "Zilla Slab", serif;
    font-size: 1.1rem; }
    .main-cont form .personales {
      width: 80%;
      margin: 0 auto; }
      .main-cont form .personales label {
        display: none; }
      .main-cont form .personales input[type="text"],
      .main-cont form .personales input[type="number"],
      .main-cont form .personales input[type="email"],
      .main-cont form .personales option {
        font-family: "Zilla Slab", serif;
        font-size: 1.1rem;
        background-color: transparent;
        color: #c0b283;
        border: none;
        border-bottom: 1px solid #888888;
        padding: 1rem 0 .3rem; }
    .main-cont form .newsletter,
    .main-cont form .favdisc,
    .main-cont form .country,
    .main-cont form .mensaje,
    .main-cont form .send {
      width: 80%;
      margin: 0 auto;
      margin-top: 2rem; }

.newsletter label {
  font-size: 1.2rem;
  display: block;
  width: 100%;
  padding-bottom: 0.25rem; }

.favdisc p {
  font-size: 1.2rem;
  margin-bottom: 0;
  padding-bottom: 0.25rem; }

.country select {
  background-color: #1b1b1b;
  color: #888888;
  padding: 0.25rem;
  font-size: .9rem; }

.country option {
  background-color: #1b1b1b;
  color: #888888; }

.country label {
  font-size: 1.2rem; }

.mensaje textarea {
  width: 100%;
  background-color: transparent;
  font-family: "Zilla Slab", serif;
  font-size: 1.1rem;
  color: #c0b283;
  border-radius: 5px; }

.send {
  margin-bottom: 2rem; }
  .send input[type="button"] {
    width: 100%;
    color: #c0b283;
    font-family: "Zilla Slab", serif;
    font-size: 1.2rem;
    padding: 6px 12px;
    background-color: transparent;
    border: 1px solid #c0b283;
    cursor: pointer; }
  .send input[type="button"]:hover {
    background-color: #c0b283;
    border: 1px solid #1b1b1b;
    color: #1b1b1b;
    transition: all .4s ease-in-out; }

/* Mediaqueris */
/* *********MEDIA QUERIS********* */
/* Desde 480px */
@media screen and (min-width: 479.98px) {
  .imagen figcaption {
    opacity: 1; } }

/* ************************************************ */
/* Desde 768px */
@media screen and (min-width: 767.98px) {
  #body__contacto {
    background-position: 75px 0; }
  .header__nav ul li a {
    font-size: 1.2rem; }
  .header__nav--footer ul li a {
    font-size: 1.4rem; }
  .main {
    margin-bottom: 2rem; }
  .video {
    padding-bottom: 390px; }
  .shows h1 {
    font-family: "Zilla Slab", serif;
    font-size: 2.3rem; }
  .bio {
    max-width: 90%;
    margin: 0 auto; }
  .grid_media .iframe-2,
  .grid_media .iframe-1 {
    max-height: 315px; }
  .cabecera__apps {
    justify-content: flex-end;
    padding-right: 2%; } }

/* ***************************************** */
/* Desde 992px */
@media screen and (min-width: 991.98px) {
  #body__home {
    background-position: -570px 27px; }
  #body__members {
    background-position: 35% -265px; }
  #body__disco {
    background-position: 96% 33px; }
  #body__contacto {
    background-position: 25px 0; }
  .header__nav {
    justify-content: flex-end; }
    .header__nav ul li {
      width: 100%; }
      .header__nav ul li a {
        font-size: 1.1rem; }
    .header__nav--footer ul {
      margin-bottom: 0; }
      .header__nav--footer ul li a {
        letter-spacing: 0.15rem;
        font-weight: 400; }
  .video {
    width: 65%;
    padding-bottom: 333px;
    order: 2; }
  .footer {
    padding: 15px 0; }
  .titleSection {
    flex-direction: row;
    align-items: center; }
    .titleSection h1 {
      margin-bottom: 20px; }
  .main-integrantes .titleSection {
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto; }
  .history p {
    padding: 10px 50px; }
  .grid_media {
    width: 100%;
    row-gap: 0.8rem;
    column-gap: 0.8rem; }
    .grid_media .iframe-1 {
      grid-column: 1/3;
      grid-row: 1/4; }
    .grid_media .iframe-2 {
      grid-column: 2/4;
      grid-row: 7/8;
      max-height: 290px; }
    .grid_media .imagen-9 {
      max-height: 100%;
      grid-row: 5/7; }
    .grid_media .imagen-17 {
      max-height: 100%;
      grid-column: 1/2;
      grid-row: 7/9; }
  .imagen-1 {
    grid-column: 3/4;
    grid-row: 1/2; }
  .imagen-2 {
    grid-column: 3/4;
    grid-row: 2/3; }
  .imagen-3 {
    grid-column: 1/2;
    grid-row: 3/4; }
  .imagen-4 {
    grid-column: 2/3;
    grid-row: 3/4; }
  .imagen-5 {
    grid-column: 3/4;
    grid-row: 3/4; }
  .imagen-6 {
    grid-column: 1/2;
    grid-row: 4/5; }
  .imagen-7 {
    grid-column: 2/3;
    grid-row: 4/5; }
  .imagen-8 {
    grid-column: 3/4;
    grid-row: 4/5; }
  .imagen-12 {
    grid-column: 1/2;
    grid-row: 5/6; }
  .imagen-11 {
    grid-column: 2/3;
    grid-row: 5/6; }
  .imagen-13 {
    grid-column: 2/3;
    grid-row: 5/6; }
  .imagen-14 {
    grid-column: 2/3;
    grid-row: 6/7; }
  .imagen-15 {
    grid-column: 1/2;
    grid-row: 7/8; }
  .imagen-21 {
    grid-column: 2/3;
    grid-row: 8/9; }
  .imagen-18 {
    grid-column: 3/4;
    grid-row: 8/9; }
  .imagen-20 {
    grid-column: 3/4;
    grid-row: 9/10; }
  .imagen-19 {
    grid-column: 1/3; }
  .namers__name h3 {
    font-size: 1.4rem; }
  .contenedor__discografia {
    max-width: 95%;
    grid-template-rows: 10% auto 13%; }
  .bio p {
    padding: 10px 50px; }
  .playlist p {
    font-size: 1rem; }
  .main-cont {
    position: relative; }
    .main-cont form {
      position: relative;
      right: 0;
      width: 55%; }
      .main-cont form .personales,
      .main-cont form .newsletter,
      .main-cont form .favdisc,
      .main-cont form .country,
      .main-cont form .mensaje,
      .main-cont form .send {
        width: 95%;
        margin-top: 2rem; }
      .main-cont form .personales input[type="text"],
      .main-cont form .personales input[type="number"],
      .main-cont form .personales input[type="email"] {
        width: 100%; }
      .main-cont form .send input[type="button"] {
        width: 100%; } }

/* ***************************************** */
/* Desde 1200px */
@media screen and (min-width: 1199.98px) {
  #body__home {
    background-image: none; }
  #carouselExampleFade {
    display: block; }
  #body__members {
    background-position: 35% 0; }
  #body__disco {
    background-position: 96% 33px; }
  #body__contacto {
    background-position: 215px 0; }
  .wraper {
    height: 100vh; }
  .footer.footer-int {
    height: auto;
    flex-direction: row; }
  .main {
    height: 63vh; }
  .header__nav ul {
    justify-content: flex-end; }
  .shows {
    position: relative;
    width: 100%;
    display: flex;
    order: 2;
    margin-bottom: 1rem;
    margin-top: 1rem; }
    .shows h1 {
      position: absolute;
      top: -35%; }
    .shows__fecha {
      width: 100%;
      margin: 0 5px;
      padding: 5px 10px; }
  .video {
    order: 1;
    width: 51%;
    padding-bottom: 315px; }
  .main-integrantes .titleSection {
    align-items: flex-start;
    margin: 0;
    max-width: 100%; }
  .history p {
    padding: 0 30px; }
  .bio {
    max-width: 100%; }
  .rrsuscripcion {
    width: 50%; }
  .grid_media {
    grid-template-columns: repeat(4, 1fr); }
    .grid_media .imagen-3 {
      grid-column: 4/5;
      grid-row: 1/2; }
    .grid_media .imagen-4 {
      grid-column: 4/5;
      grid-row: 2/3; }
    .grid_media .imagen-6 {
      grid-column: 1/2;
      grid-row: 3/4; }
    .grid_media .imagen-7 {
      grid-column: 2/3;
      grid-row: 3/4; }
    .grid_media .imagen-8 {
      grid-column: 4/5;
      grid-row: 3/4; }
    .grid_media .imagen-12 {
      grid-row: 4/5; }
    .grid_media .imagen-13 {
      grid-row: 4/5; }
    .grid_media .imagen-11 {
      grid-column: 3/4;
      grid-row: 4/5; }
    .grid_media .imagen-10 {
      grid-row: 5/6; }
    .grid_media .imagen-14 {
      grid-row: 5/6; }
    .grid_media .imagen-15 {
      grid-column: 3/4;
      grid-row: 5/6; }
    .grid_media .imagen-16 {
      grid-row: 7/8; }
    .grid_media .imagen-21 {
      grid-row: 7/8; }
    .grid_media .imagen-18 {
      grid-row: 7/8; }
    .grid_media .imagen-20 {
      grid-column: 4/5;
      grid-row: 7/8; }
    .grid_media .imagen-9 {
      grid-column: 4/5;
      grid-row: 4/6; }
    .grid_media .imagen-17 {
      grid-row: 5/7; }
    .grid_media .imagen-19 {
      max-height: 100%;
      grid-column: 4/5;
      grid-row: 6/7; }
    .grid_media .iframe-2 {
      grid-column: 2/4;
      grid-row: 6/7; }
  .titleSection h1 {
    font-size: 3rem; }
  .card__namersbio.par .namers {
    display: flex;
    justify-content: flex-end;
    width: 100%; }
    .card__namersbio.par .namers .namers__name {
      order: 2; }
      .card__namersbio.par .namers .namers__name h2 {
        padding-right: 15px; }
  .card__namersbio.par .bio p {
    text-align: right; }
  .card__img {
    max-width: 25%; }
    .card__img img {
      margin: 0 auto;
      max-width: 80%; }
  .card__img.par {
    order: 2; }
  .card__namersbio {
    width: 75%; }
    .card__namersbio .namers {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-start; }
      .card__namersbio .namers__name h2, .card__namersbio .namers__rs {
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        padding-left: 15px;
        font-size: 1.3rem; }
      .card__namersbio .namers__name h2 span {
        font-size: 1.3rem; }
    .card__namersbio .bio p {
      font-size: 1.2rem;
      padding: 10px 15px; }
  .contenedor__discografia {
    max-width: 1140px;
    grid-template-rows: 14% auto 20%; }
  .suscripcion input[type="button"] {
    margin-left: 10px;
    padding-top: 0; } }

/* ***************************************** */
/* Desde 1366px */
@media screen and (min-width: 1365.98px) {
  #body__members {
    background-position: 30% -90px; }
  #body__disco {
    background-position: 120% 33px; }
  #body__contacto {
    background-position: 275px 0; }
  .wraper {
    height: 100vh; }
  .footer {
    height: auto;
    align-items: center; }
    .footer.footer_media .suscripcion {
      width: 52%; }
  .header {
    height: 15vh; }
    .header__nav ul li a {
      font-size: 1rem; }
    .header__logo a img {
      width: 45%; }
  .main {
    height: 70vh;
    width: 100%;
    margin: 0;
    margin-top: 0.5rem; }
  .video {
    order: 1;
    padding-bottom: 277px;
    width: 45%; }
  .shows h1 {
    position: absolute;
    top: -45%;
    left: 1%;
    text-align: left; }
  .shows__fecha {
    margin-left: 1%;
    padding: .25rem; }
    .shows__fecha p {
      font-size: .9rem; }
      .shows__fecha p.estadio {
        font-size: 1.1rem; }
  .grid_media {
    gap: 15px; }
    .grid_media .iframe-1,
    .grid_media .iframe-2 {
      max-height: 100%; }
  .namers__name h3 {
    font-size: 1.8rem; }
    .namers__name h3 span {
      font-size: 1.2rem; }
  .cardiscografia {
    min-height: 22rem; }
  .playlist p {
    font-size: .9rem; } }

/* ***************************************** */
/* Desde 1600px */
@media screen and (min-width: 1599.98px) {
  .img-cabecera {
    width: 150px; }
  .video {
    padding-bottom: 365px;
    width: 50%; } }
