/* INTEGRANTES */
#body__members {
    background-image: url(../img/back_soad_members.jpg);
    background-repeat: no-repeat;
    background-position: 42% -265px;
    background-size: cover;
}

.card__img img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
}

.namers__name h2 {
    font-family: $fuente-primaria;
    color: $color-terciario;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin: 10px auto;
    letter-spacing: 0.15rem;
    text-transform: uppercase;

    span {
        font-weight: 100;
        color: $color-oscuro-semi;
        font-style: italic;
        text-transform: none;
        letter-spacing: normal;
    }
}

.namers__rs {
    text-align: center;

    .iconify {
        width: 1.8rem;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.bio p {
    font-family: $fuente-primaria;
    color: $color-oscuro-semi;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 10px 15px;
    margin: 0;
}