/* Defino una clase para luego incluirla mediante "@extend" */
/* Home, tarjetas de tickets en shows */
.shows_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* MIXIN definiendo Flex */
/* Discografia, tarjetas de los discos*/
@mixin card-flex ($display, $direction, $justify, $align){
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}