/* DISCOGRAFIA */
#body__disco {
    background-image: url(../img/back_soad_shows.jpg);
    background-repeat: no-repeat;
    background-position: 86% 127px;
    background-size: cover;
}

.containerDisco article {
    position: relative;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.75);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.disc-1 {
        background-image: url(../img/soaddisc1.jpg);
    }

    &.disc-2 {
        background-image: url(../img/soaddisc2.png);
    }

    &.disc-3 {
        background-image: url(../img/soaddisc3.jpg);
    }

    &.disc-4 {
        background-image: url(../img/soaddisc4.jpg);
    }

    &.disc-5 {
        background-image: url(../img/soaddisc5.jpg);
    }
}

.cardiscografia {
    height: 350px;
    @include card-flex(flex, column, space-between, unset);

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        background-color: #000000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.8;
    }

    .cabecera {
        width: 100%;
        @include card-flex(flex, row, space-between, center);

        &__apps{
            z-index: 10;

            .iconify {
                width: 1.8rem;
                color: $color-terciario;
                padding-left: 0.25rem;
                padding-right: 0.25rem;

                &:hover {
                    color: $color-secundario;
                }
            }
        }

        &__album{
            @include card-flex(flex, column, unset, flex-start);

            h2 {
                position: relative;
                text-transform: uppercase;
                font-family: $fuente-primaria;
                color: $color-terciario;
                font-size: 1.3rem;
                margin-top: 0.25rem;
                margin-bottom: 0;
                padding-right: 0.5rem;
                z-index: 10;
            }

            h3 {
                position: relative;
                font-family: $fuente-primaria;
                color: $color-oscuro-semi;
                font-size: 1.4rem;
                z-index: 10;
            }
        }
    }

    .playlist p {
        color: $color-terciario;
        font-family: $fuente-secundaria;
        font-size: 1rem;
        padding: 10px 10px 5px 10px;
        z-index: 10;
        position: relative;
        margin-bottom: 0;
        text-align: left;
    }
}
